{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ school.name }}</h1>
    <p>{{ school.address }}</p>

    {# Display all students in school #}

    <a href="/schools">Retour</a>
{% endblock %}
