<form method="post">
    <label for="firstname">Prénom</label>
    <input type="text" name="firstname" id="firstname">
    <label for="lastname">Nom</label>
    <input type="text" name="lastname" id="lastname">
    <label for="address">Adresse</label>
    <input type="text" name="address" id="address">

    <label for="school">Adresse</label>
    <select name="school" id="school">
        {# Display all available school #}
    </select>

    <button>Envoyer</button>
</form>
