{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{# Firstname and Lastname of student #}</h1>
    <h3>{# School name of student #}</h3>

    <p>{# Address of student #}</p>


    <a href="">Retour</a>
{% endblock %}
